<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:beans="http://www.springframework.org/schema/beans"

             xsi:schemaLocation="http://www.springframework.org/schema/security
                http://www.springframework.org/schema/security/spring-security-4.2.xsd
                http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">

    <global-method-security secured-annotations="enabled"/>

    <http auto-config="true">
        <intercept-url pattern="/" access="permitAll()"/>
        <intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')"/>
        <intercept-url pattern="/inner/**" access="isAuthenticated()"/>

        <form-login
                login-page="/auth"
                username-parameter="login"
                password-parameter="password"
                default-target-url="/inner/dispatcher"
                authentication-failure-url="/auth?error=access_denied"/>
        <logout/>
        <csrf disabled="true"/>
    </http>

    <beans:bean id="customUserService" class="util.CustomUserService"/>
    <beans:bean id="customAuthProvider" class="util.CustomAuthProvider"/>
    <beans:bean id="passwordEncoder" class="util.CustomPasswordEncoder"/>

    <authentication-manager>
        <authentication-provider ref="customAuthProvider"/>
    </authentication-manager>


</beans:beans>